# per https://specifications.freedesktop.org/basedir-spec/latest/ar01s03.html

export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_DATA_DIRS="$HOME/.local/share/:/var/lib/:/usr/local/share/:/usr/share/"
export XDG_CONFIG_DIRS="/etc/xdg"
export XDG_CACHE_HOME="$HOME/.cache"
{{- if eq .chezmoi.os "darwin" }}
export XDG_RUNTIME_DIR=`/usr/bin/find /private/tmp -name "service-$USER.???*" -mindepth 1 -maxdepth 1 2>/dev/null | /usr/bin/grep . || /usr/bin/mktemp -d /private/tmp/service-$USER.XXX | tee >(xargs chmod 0700)`
{{- else if eq .chezmoi.os "linux" }}
export XDG_RUNTIME_DIR="/run/user/$(id -u)"
{{- end }}
