{{- if eq .chezmoi.os "darwin" -}}
function ls
  if [ "$(pwd)" = "$HOME" ]
    eza --ignore-glob="Applications|Desktop|Documents|Downloads|Movies|Music|Library|Pictures|Public" $argv
  else
    eza $argv
  end
end
{{- else if eq .chezmoi.os "linux" -}}
function ls
  exa $argv
end
{{- end }}
